<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<string></string>
		<key>FalseValue</key>
		<false/>
		<key>Key</key>
		<string>showMenuItems</string>
		<key>Title</key>
		<string>Show LinkThing Settings item in context menu</string>
		<key>TrueValue</key>
		<true/>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Account info for adding links to Instapaper (optional)</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>ipUsername</string>
		<key>Secure</key>
		<true/>
		<key>Title</key>
		<string>Username</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>ipPassword</string>
		<key>Password</key>
		<true/>
		<key>Secure</key>
		<true/>
		<key>Title</key>
		<string>Password</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
</array>
</plist>
